#car1{
    width: 60px;
    height: 100px;
    background-color: red;
    position: absolute;
}

#car2{
    width: 50px;
    height: 120px;
    background-color: green;
    position: absolute;
}

#car3{
    width: 105px;
    height: 90px;
    background-color: brown;
    position: absolute;
}

#car4{
    width: 150px;
    height: 150px;
    background-color: rgb(205, 0, 0);
    position: relative;
}

#car5{
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    left: 50%;
}