@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

textarea {
    height: 300px;
    width: 600px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid grey;
    outline-color:olivedrab;
    padding: 10px;
    resize: none;
}