* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

/* body {
    background-color: rgba(67, 67, 67, 0.812);
    color: white;
} */

#center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1vw;
    border-radius: 2vw;
}

.darkMode {
    background-color: rgba(67, 67, 67, 0.812);
    color: white;
}

.lightMode {
    background-color: white;
    color: black;
}

#circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}