@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

img {
    width: 20%;
    height: 100%;
    object-fit: cover;

}

#page1 {
    width: 100%;
    height: 100%;
    background-color: burlywood;
}

#page1 img {
    position: relative; /* relative to the parent */
    left: 50%;
    transform: translateX(-50%);
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: rebeccapurple ;
}

#page2 img {
    position: relative; /* relative to the parent */
    left: 50%;
    transform: translateX(-50%);
}

#page3 {
    width: 100%;
    height: 100%;
    background-color: lightcoral;
}

#page3 img {
    position: relative; /* relative to the parent */
    left: 50%;
    transform: translateX(-50%);
}

